<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6">
    <span>threaddump-analyzer</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-mini-fab>
      <mat-icon >note_add</mat-icon>
    </button>

    <button mat-button>
      <mat-icon >clear_all</mat-icon>
    </button>
    <nav mat-tab-nav-bar backgroundColor="primary">
      <a mat-tab-link >
        1111111111111
      </a>
      <a mat-tab-link [active]="true" >
        1111111111111
      </a>
      <a mat-tab-link >
        1111111111111
      </a>
    </nav>
  </mat-toolbar-row>

</mat-toolbar>
