<div class="thread">
  <h2 [id]="thread.id">
    <ul>
      <li class="name">{{thread.name}}</li>
      <li class="daemon" *ngIf="thread.daemon">daemon</li>
      <li class="prio" *ngIf="thread.priority">{{thread.priority}}</li>
      <li class="tid" *ngIf="thread.id">{{thread.id}}</li>
      <li class="nid" *ngIf="thread.nativeId">{{thread.nativeId}}</li>
      <li class="status" *ngIf="thread.status">{{thread.status}}</li>
      <li class="id" *ngIf="thread.callstack">{{thread.callstack}}</li>
    </ul>
  </h2>
  <div *ngIf="thread.state" class="state">java.lang.Thread.State: <span [ngClass]="thread.state">{{thread.state}}</span></div>
  <ul class="stack">
    <li *ngFor="let stackEntry of thread.stack"><app-stack [stackEntry]="stackEntry"></app-stack></li>
  </ul>

  <div *ngIf="thread?.lock?.length > 0" class="lock">
    Locked ownable synchronizers:
    <ul>
      <li *ngFor="let lockEntry of thread.lock">{{lockEntry.content}}</li>
    </ul>
  </div>

</div>
