<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div>
      <input type="file" (change)="onFileChange($event)" multiple>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-tab-group>
      <ng-container *ngFor="let promise of threaddumps">
        <mat-tab [label]="threaddump.name" *ngIf="promise | async as threaddump" >
          <app-threaddump  [threaddump]="threaddump" ></app-threaddump>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>



