<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div>
      <input type="file" (change)="onFileChange($event)" multiple>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let threaddump of threaddumps" (click)="changeSelectedThreaddump(threaddump)" [active]="threaddump === selectedThreaddump">
        {{threaddump.date | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
      </a>
    </nav>

    <div [ngClass]="{'d-none': threaddump !== selectedThreaddump}" *ngFor="let threaddump of threaddumps">
      <app-threaddump [threaddump]="threaddump"></app-threaddump>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>



