<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div>
      <input type="file" (change)="onFileChange($event)" multiple>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-tab-group>
      <ng-container *ngFor="let promise of threaddumps">
        <mat-tab *ngIf="promise | async as threaddump" >
          <ng-template mat-tab-label>
            {{threaddump.date | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </ng-template>
          <app-threaddump class="tab-content" [threaddump]="threaddump" ></app-threaddump>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>



