<mat-tab-group>
  <ng-container *ngFor="let threaddump of $threaddumpList | async">
    <mat-tab>
      <ng-template mat-tab-label>
        {{threaddump.date | amDateFormat:'hh:mm:ss' }}
      </ng-template>
      <mat-card *ngIf="getThread(threaddump); let thread">
        <mat-card-content>
          <div>
            <span class="name">{{thread.name}}</span>
            <span class="daemon" *ngIf="thread.daemon">daemon</span>
            <span class="prio" *ngIf="thread.priority">{{thread.priority}}</span>
            <span class="tid">{{thread.id}}</span>
            <span class="nid" *ngIf="thread.nativeId">{{thread.nativeId}}</span>
            <span class="status" *ngIf="thread.status">{{thread.status}}</span>
            <span class="id" *ngIf="thread.callstack">{{thread.callstack}}</span>
          </div>
          <div *ngIf="thread.state">&nbsp;&nbsp;java.lang.Thread.State: <span [class]="thread.state">{{thread.state}}</span></div>

          <div *ngIf="thread.stack.length > 0">
            <ng-container *ngFor="let stackEntry of thread.stack;">
              &nbsp;&nbsp;&nbsp;<app-stack-entry [stackEntry]="stackEntry"></app-stack-entry><br>
            </ng-container>
          </div>
          <br>
          <div *ngIf="thread.lock.length > 0">
            &nbsp;&nbsp;Locked ownable synchronizers:<br>
            <ng-container *ngFor="let lockSynchronizeEntry of thread.lock;">
              &nbsp;&nbsp;&nbsp;<app-lock-synchronize-entry [lockSynchronizeEntry]="lockSynchronizeEntry"></app-lock-synchronize-entry><br>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </ng-container>
</mat-tab-group>
