<div class="thread">
  <ul>
    <li class="name">{{thread.name}}</li>
    <li class="daemon" *ngIf="thread.daemon">daemon</li>
    <li class="prio" *ngIf="thread.prio">{{thread.prio}}</li>
    <li class="tid" *ngIf="thread.tid">{{thread.tid}}</li>
    <li class="nid" *ngIf="thread.nid">{{thread.nid}}</li>
    <li class="status" *ngIf="thread.status">{{thread.status}}</li>
    <li class="id" *ngIf="thread.id">{{thread.id}}</li>
  </ul>
  <span *ngIf="thread.state">java.lang.Thread.State: {{thread.state}}</span>
</div>
