.thread {
  margin-top: 20px;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}


h2 li {
  display: inline;
  list-style-type: none;
}

h2 ul {
  padding-left: 0;
  margin: 0;
}

.name:before, .name:after {
  content: '"';
}

.prio:before {
  content: 'prio=';
}

.tid:before {
  content: 'tid=';
}

.nid:before {
  content: 'nid=';
}

.id:before {
  content: '[';
}

.id:after {
  content: ']';
}

.stack {
  padding-left: 20px;
  margin: 0;
}

.stack li {
  list-style-type: none;
}

.state {
  padding-left: 14px;
}