.sidenav-container.mat-drawer-container {
  position: absolute;
  top: 128px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebare  {
  max-width: 30rem ;
  min-width: 30rem ;
}

mat-sidenav-container {
  font-family: 'Roboto Mono', monospace;
}
