.sidenav-container.mat-drawer-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebare  {
  max-width: 30rem ;
  min-width: 30rem ;
}

mat-sidenav-container {
  font-family: 'Roboto Mono', monospace;
}

.floating-actions {
  position: absolute;
  top: 24px;
  left: 275px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-content: center;

  button {
    align-self: center;
    margin: 0.8rem;
  }

  button:not(:first-child) {
    background-color: #E0E0E0;
    color: #616161;

  }

}