.NEW {
  background-color: $color-light;
}

.RUNNABLE {
  background-color: $color-success;
}

.BLOCKED {
  background-color: $color-danger;
}

.WAITING {
  background-color: $color-light;
}

.TERMINATED {
  background-color: $color-info;
}

.TIMED_WAITING {
  background-color: $color-light;
}

.merged-thread-list {
  .merged-thread-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 1.6rem;

    .thread-name {
      width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    ul.thread-states {
      list-style: none;
      display: inline-block;
      margin: 0.1rem;
      width: 24%;

      li.thread-state {
        display: inline-block;
        min-height: 1rem;
        min-width: 1rem;

        div {
          min-height: 1rem;
          min-width: 1rem;
        }
      }
    }
  }
}

